* {
    margin: 0;
    padding: 0;
}

/*---------------*/
/*---- BODY ----*/
/*-------------*/

/* body {
    background-color: #ffff;
}
 */
div.main-container {
    width: 1440px;
    margin: 0 auto;
    /*background-color: #f1f1f1;*/
}

/*------------------*/
/*---- TOP-BAR ----*/
/*----------------*/

div.top-bar {
    padding: 16px 0;
}

nav.menu ul {
    display: flex;
    justify-content: space-around;
}

/*---------------------*/
/*---- FIRST-PAGE ----*/
/*--------------------*/

section.firstPage {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.about {
    width: 50%;
    margin-top: 10%;
}

div.btn-initial {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

div.btn-initial p {
    margin: 0 20px;
}

div.icons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding: 0 50px;
}

div.icons ion-icon {
    padding: 0 40px;
}

div.icons .leaf, .rocket {
    border-right: 1px solid #000;

}

div.banner {
    width: 50%;
    position: relative;
}

div.banner img {
    width: 550px;
    height: 750px;
}

div.banner .arrow1 {
    position: absolute;
    padding: 0 20px;
    bottom: 2%;
    left: 10%;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f1f1f1ab;
    cursor: pointer;
}

div.banner .arrow2 {
    position: absolute;
    padding: 0 20px;
    bottom: 2%;
    right: 35%;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #f1f1f1ab;
}

/*-------------------------*/
/*---- ESPECIALIDADES ----*/
/*-----------------------*/

section.especialidades {
    padding: 90px 0;
}

div.sobremesa {
    display: flex;
    justify-content: space-around;
    margin-bottom: 87px;
}

div.yogurt {
    width: 30%;
    margin-top: 10%;
}

div.yogurtpic {
    width: 50%;
}

div.almoco {
    display: flex;
    justify-content: space-around;

}

div.sopa {
    width: 30%;
    margin-top: 10%;
}

div.sopaimg {
    width: 30%;
}

/*---------------*/
/*---- MENU ----*/
/*-------------*/

div.cardapio {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}

div.cafe div.cafe-com-leite span, div.janta div.cafe-com-leite span, div.almocar div.cafe-com-leite span  {
    display: flex;
}

div.cafe-com-leite img {
    border-radius: 100%;
    width: 50px;
    margin-right: 10px;
}

div.cardapio div.dash {
    border-bottom: 1px dotted    #000;
}

/*-----------------*/
/*---- FOOTER ----*/
/*---------------*/

footer {
    width: 100%;
    background-color: #333;
}

footer .info-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 59px 118px;
}

footer .info-footer .sobre-footer {
    width: 32%;
}

footer .info-footer .horarios {
    width: 32%;
}

footer .info-footer .direcao {
    width: 32%;
}