h1, h2, h3 {
    font-family: 'Rancho';
    text-align: center;
    text-transform: capitalize;
    color: black;
}

h4, h5, h6 {
    font-family: 'Josefin Sans';
    text-align: center;
    color: black;
}

p, li, a {
    font-family: 'Libre Franklin';
    color: #404040;
}

/*------------------*/
/*---- TOP BAR ----*/
/*----------------*/

nav.menu ul {
    font-size: 20px;
    color: black;
    list-style: none;
    border-radius: 4px;
}

nav.menu ul li {
    cursor: pointer;
}

nav.menu ul h1 {
    font-size: 96px;
    font-weight: 300;
}

/*---------------------*/
/*---- FIRST-PAGE ----*/
/*--------------------*/

div.about h4 {
    font-size: 48px;
}

div.about {
    font-size: 20px;
}

div.about h4 {
    font-weight: 300;
}

div.about h4 span {
    font-weight: 400;
    color: #2A9D8F;
}

div.btn-initial .menu {
    background-color: #E76F51;
    box-shadow: 4px 6px 10px #F4A261;
    border-radius: 10px;
    color: #ffff;
    padding: 10px 30px;
}

div.btn-initial .menu:hover {
    background-color: #c24223;
    transition: 0.5s;
}

div.btn-initial p {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

div.btn-initial p:hover {
    background-color: #312e2e28;
    transition: 0.5s;
}

div.icons ion-icon {
    font-size: 50px;
    margin-bottom: 8px;
}

div.banner .arrow1:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

div.banner .arrow2:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

/*-------------------------*/
/*---- ESPECIALIDADES ----*/
/*-----------------------*/

section.especialidades {
    background-color: #f1f1f1f1;
}

section.especialidades h2 {
    font-size: 64px;
    font-weight: 300;
}

section.especialidades h4 {
    font-size: 24px;
    color: #E76F51;
    font-weight: 400;
    margin-bottom: 30px;
}

div.yogurt {
    text-align: start;
}

div.yogurt h4 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: start;

}

div.yogurt h5 {
    font-size: 42px;
    font-weight: 400;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 30px;
}

div.yogurt p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10%;
}

div.yogurt .preco {
    font-size: 24px;
    font-weight: 300;
}

div.yogurt a {
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #2A9D8F;
}

div.yogurt a:hover {
    background-color: #115b53;
    transition: 0.4s;
}

/* ----- */
div.sopa {
    text-align: start;
}

div.sopa h4 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
}

div.sopa h5 {
    font-size: 42px;
    font-weight: 400;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 30px;
}

div.sopa p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10%;
}

div.sopa .preco {
    font-size: 24px;
    font-weight: 300;
}

div.sopa a {
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #2A9D8F;
}

div.sopa a:hover {
    background-color: #115b53;
    transition: 0.4s;
}

/*---------------*/
/*---- MENU ----*/
/*-------------*/

section.menu h2 {
    font-size: 64px;
    font-weight: 300;
    margin-top: 30px;
}

section.menu h4 {
    font-size: 24px;
    color: #E76F51;
    font-weight: 400;
    margin-bottom: 76px;
}

section.menu h5 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 65px;
}

section.menu h6 {
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;
}

section.menu span p {
    font-size: 20px;
    font-weight: 200;
}

section.menu p {
    font-size: 18px;
    font-weight: 300;
}

div.cafe-com-leite {
    text-align: center;
    padding: 45px 0;
}

div.cardapio div.cafe-com-leite {
    line-height: 50px;
}

/*-----------------*/
/*---- FOOTER ----*/
/*---------------*/

footer .info-footer h2 {
    font-size: 96px;
    text-align: start;
    color: #ffff;
    font-weight: 400;
}

footer .info-footer p, footer .info-footer li {
    color: #ffff;
    font-weight: 300;
}

footer .info-footer .sobre-footer p {
    text-align: start;
    padding: 45px 0;
}

footer .info-footer .redes-sociais ion-icon {
    color: #ffff;
    font-size: 50px;
    padding: 20px;
    cursor: pointer;
}

footer .info-footer .redes-sociais ion-icon:hover {
    color: #E76F51;
    transition: 0.5s;
}

footer .info-footer h4 {
    font-size: 24px;
    font-weight: 400;
    color: #E76F51;
    border-bottom: 1px solid #ffff;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

footer div.horarios ul li {
    line-height: 50px;
    list-style: none;
}

footer .tel ion-icon {
    color: #ffff;
    font-size: 30px;
    margin-right: 8px;
    margin-bottom: -8px;
}

footer .tel a:hover {
    color: #E76F51;
    transition: 0.5s;
}

footer .tel a {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

footer .direcao h5 {
    font-size: 24px;
    font-weight: 400;
    color: #E76F51;
    border-bottom: 1px solid #ffff;
    width: 40%;
    text-align: start;
    padding: 10px;
}

footer .direcao ion-icon {
    color: #ffff;
    font-size: 35px;
}

footer .direcao div.location p {
    font-size: 18px;
}

footer .direcao div.location {
    padding: 20px 0;
}

footer p {
    color: #ffff;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    padding: 16px;
}