h1, h2, h3 {
    font-family: 'Rancho';
    text-align: center;
    text-transform: capitalize;
    color: black;
}

h4, h5, h6 {
    font-family: 'Josefin Sans';
    text-align: center;
    color: black;
}

p, li, a {
    font-family: 'Libre Franklin';
    color: #404040;
}

/*------------------*/
/*---- TOP BAR ----*/
/*----------------*/

nav.menu ul {
    font-size: 20px;
    color: black;
    list-style: none;
    border-radius: 4px;
}

nav.menu ul li {
    cursor: pointer;
}

nav.menu ul h1 {
    font-size: 96px;
    font-weight: 300;
}

/*---------------------*/
/*---- FIRST-PAGE ----*/
/*--------------------*/

div.about h4 {
    font-size: 48px;
}

div.about {
    font-size: 20px;
}

div.about h4 {
    font-weight: 300;
}

div.about h4 span {
    font-weight: 400;
    color: #2A9D8F;
}

div.btn-initial .menu {
    background-color: #E76F51;
    box-shadow: 4px 6px 10px #F4A261;
    border-radius: 10px;
    color: #ffff;
    padding: 10px 30px;
}

div.btn-initial .menu:hover {
    background-color: #c24223;
    transition: 0.5s;
}

div.btn-initial p {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

div.btn-initial p:hover {
    background-color: #312e2e28;
    transition: 0.5s;
}

div.icons ion-icon {
    font-size: 50px;
    margin-bottom: 8px;
}

div.banner .arrow1:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

div.banner .arrow2:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

/*-------------------------*/
/*---- ESPECIALIDADES ----*/
/*-----------------------*/

section.especialidades {
    background-color: #f1f1f1f1;
}

section.especialidades h2 {
    font-size: 64px;
    font-weight: 300;
}

section.especialidades h4 {
    font-size: 24px;
    color: #E76F51;
    font-weight: 400;
    margin-bottom: 30px;
}

div.yogurt {
    text-align: start;
}

div.yogurt h4 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
    
}

div.yogurt h5 {
    font-size: 42px;
    font-weight: 400;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 30px;
}

div.yogurt p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10%;
}

div.yogurt .preco {
    font-size: 24px;
    font-weight: 300;
}

div.yogurt a {
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #2A9D8F;
}

div.yogurt a:hover {
    background-color: #115b53;
    transition: 0.4s;
}

/* ----- */
div.sopa {
    text-align: start;
}

div.sopa h4 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
}

div.sopa h5 {
    font-size: 42px;
    font-weight: 400;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 30px;
}

div.sopa p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10%;
}

div.sopa .preco {
    font-size: 24px;
    font-weight: 300;
}

div.sopa a {
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #2A9D8F;
}

div.sopa a:hover {
    background-color: #115b53;
    transition: 0.4s;
}