div.main-container {
    width: 80%;
}

/*---------------------*/
/*---- FIRST-PAGE ----*/
/*--------------------*/

section.firstPage {
    display: block;
}

section.firstPage div.about {
    text-align: center;
    width: 100%;
}

section.firstPage div.banner {
    margin-top: 35px;
    text-align: center;
    width: 100%;
}

div.banner img {
    width: 342px;
    height: 516px;
}

div.banner {
    position: relative;
}

div.banner .arrow1 {
    position: absolute;
    padding: 0 16px;
    bottom: 2%;
    left: 54%;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f1f1f1ab;
    cursor: pointer;
}

div.banner .arrow2 {
    position: absolute;
    padding: 0 16px;
    bottom: 2%;
    right: 30%;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #f1f1f1ab;
}

/*-------------------------*/
/*---- ESPECIALIDADES ----*/
/*-----------------------*/

div.sobremesa {
    display: block;
    width: 100%;
}

div.sobremesa div.yogurt {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}

div.sobremesa div.yogurtPic {
    width: 60%;
    margin: 0 auto;
}

div.almoco {
    flex-flow: column-reverse;
    width: 100%;
}

div.almoco div.sopa {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}

div.almoco div.sopaimg {
    width: 60%;
    margin: 0 auto;
}

/*---------------*/
/*---- MENU ----*/
/*-------------*/

section.menu div.cardapio {
    display: block;
}

section.menu div.cardapio h5 {
    margin-bottom: 10px;
}

section.menu div.cardapio div.cafe-com-leite span{
    justify-content: center;
}

/*-----------------*/
/*---- FOOTER ----*/
/*---------------*/

footer .info-footer {
    display: block;
    width: 80%;
}

footer .info-footer .sobre-footer, .horarios, .direcao {
    width: 100%;
    margin: 0 auto;
}

footer .info-footer div.direcao {
    width: 600px;
}

footer div.direcao h5 {
    margin: 0 auto;
    text-align: center;
}

footer .info-footer .location {
    width: 100%;
    margin: 0 auto;
}

footer div.direcao p {
    width: 100%;
}

footer div.direcao div.mapa {
    width: 100%;
}

footer div.direcao div.mapa iframe {
    width: 350px;
    margin: 0 auto;
}

footer p {
    margin: 0 auto;
}
